In [25]:
import pandas as pd
import os
current_dir = os.getcwd()
print(f"Current Directory: {current_dir}")

path = os.path.join(current_dir, 'dev/projects/metaGclub/res/Source_Data_24Oct2022.xlsx')
print(f"Current Directory: {path}")

Current Directory: /Users/eliashanelt
Current Directory: /Users/eliashanelt/dev/projects/metaGclub/res/Source_Data_24Oct2022.xlsx

In [26]:
# Read all sheets
dfs = pd.read_excel(path, sheet_name=None)

# Now dfs is a dictionary where the keys are the sheet names
for sheet_name, df in dfs.items():
    print(f"Sheet name: {sheet_name}")
    print(df.head())

Sheet name: Directory
      Directory  \
0           NaN
1           NaN
2  Figure/Table
3      Figure 1
4      Figure 2

  Outline of all Figures and Tables and the Source Data (tab in this file) to generate them.  \
0  "X" in columns D-I denotes data that were used...
1                                                NaN
2                                              Panel
3                                              a - e
4                                                NaN

                                          Unnamed: 2        Unnamed: 3  \
0                                                NaN               NaN
1                                                NaN               NaN
2                                  Title/Description  subject_metadata
3                               The STORMS flowchart               NaN
4  PD-associated species nominated by consensus o...                 X

         Unnamed: 4        Unnamed: 5              Unnamed: 6  \
0               NaN               NaN                     NaN
1               NaN               NaN                     NaN
2  metaphlan_counts  metaphlan_rel_ab  humann_KO_group_counts
3               NaN               NaN                     NaN
4                 X                 X                     NaN

              Unnamed: 7   Unnamed: 8
0                    NaN          NaN
1                    NaN          NaN
2  humann_pathway_counts  enterotypes
3                    NaN          NaN
4                    NaN          NaN
Sheet name: subject_metadata
  sample_name Case_status Sex Hispanic_or_Latino   Race Jewish_ancestry  \
0       DC001     Control   M                  N  White               N
1       DC003     Control   F                  N  Asian               N
2       DC004     Control   F                  N  White               N
3       DC005     Control   F                  N  White             NaN
4       DC006     Control   M                  N  White               N

   Age_at_collection Day_of_stool_collection_abdominal_pain  \
0                 72                                      N
1                 59                                      N
2                 72                                      N
3                 56                                    NaN
4                 37                                      N

  Day_of_stool_collection_bloating Day_of_stool_collection_diarrhea  ...  \
0                                N                                N  ...
1                                N                                N  ...
2                                N                                N  ...
3                              NaN                              NaN  ...
4                                N                                N  ...

  Diabetes_med Pain_med Depression_anxiety_mood_med  \
0            Y        N                           N
1            N        N                           N
2            N        N                           Y
3          NaN      NaN                         NaN
4            N        N                           N

   Birth_control_or_estrogen  Antihistamines Probiotic Co_Q_10 Sleep_aid  \
0                          N               N         Y       N         N
1                          N               N         Y       Y         N
2                          N               N         N       N         N
3                        NaN             NaN       NaN     NaN       NaN
4                          N               Y         N       N         N

  collection_method total_sequences
0      OMNIgene GUT        24036474
1      OMNIgene GUT        27735915
2      OMNIgene GUT        22789085
3      OMNIgene GUT        26974535
4      OMNIgene GUT        30048809

[5 rows x 57 columns]
Sheet name: metaphlan_counts
                                          clade_name  DP310  DP309  DP308  \
0                                         k__Archaea    0.0    0.0    0.0
1                        k__Archaea|p__Euryarchaeota    0.0    0.0    0.0
2     k__Archaea|p__Euryarchaeota|c__Methanobacteria    0.0    0.0    0.0
3  k__Archaea|p__Euryarchaeota|c__Methanobacteria...    0.0    0.0    0.0
4  k__Archaea|p__Euryarchaeota|c__Methanobacteria...    0.0    0.0    0.0

   DP307  DP305  DP304  DP303  DP302         DP301  ...  DC177  DC176  DC175  \
0    0.0    0.0    0.0    0.0    0.0  18487.226018  ...    0.0    0.0    0.0
1    0.0    0.0    0.0    0.0    0.0  18487.226018  ...    0.0    0.0    0.0
2    0.0    0.0    0.0    0.0    0.0  18487.226018  ...    0.0    0.0    0.0
3    0.0    0.0    0.0    0.0    0.0  18487.226018  ...    0.0    0.0    0.0
4    0.0    0.0    0.0    0.0    0.0  18487.226018  ...    0.0    0.0    0.0

   DC174  DC173  DC172  DC171          DC170  DC169  DC168
0    0.0    0.0    0.0    0.0  244691.273631    0.0    0.0
1    0.0    0.0    0.0    0.0  244691.273631    0.0    0.0
2    0.0    0.0    0.0    0.0  244691.273631    0.0    0.0
3    0.0    0.0    0.0    0.0  244691.273631    0.0    0.0
4    0.0    0.0    0.0    0.0  244691.273631    0.0    0.0

[5 rows x 725 columns]
Sheet name: metaphlan_rel_ab
                                          clade_name  DP310  DP309  DP308  \
0                                         k__Archaea    0.0    0.0    0.0
1                        k__Archaea|p__Euryarchaeota    0.0    0.0    0.0
2     k__Archaea|p__Euryarchaeota|c__Methanobacteria    0.0    0.0    0.0
3  k__Archaea|p__Euryarchaeota|c__Methanobacteria...    0.0    0.0    0.0
4  k__Archaea|p__Euryarchaeota|c__Methanobacteria...    0.0    0.0    0.0

   DP307  DP305  DP304  DP303  DP302    DP301  ...  DC177  DC176  DC175  \
0    0.0    0.0    0.0    0.0    0.0  0.15748  ...    0.0    0.0    0.0
1    0.0    0.0    0.0    0.0    0.0  0.15748  ...    0.0    0.0    0.0
2    0.0    0.0    0.0    0.0    0.0  0.15748  ...    0.0    0.0    0.0
3    0.0    0.0    0.0    0.0    0.0  0.15748  ...    0.0    0.0    0.0
4    0.0    0.0    0.0    0.0    0.0  0.15748  ...    0.0    0.0    0.0

   DC174  DC173  DC172  DC171    DC170  DC169  DC168
0    0.0    0.0    0.0    0.0  1.32182    0.0    0.0
1    0.0    0.0    0.0    0.0  1.32182    0.0    0.0
2    0.0    0.0    0.0    0.0  1.32182    0.0    0.0
3    0.0    0.0    0.0    0.0  1.32182    0.0    0.0
4    0.0    0.0    0.0    0.0  1.32182    0.0    0.0

[5 rows x 725 columns]
Sheet name: humann_KO_group_counts
                                         Gene Family       DC001      DC003  \
0  K00984: streptomycin 3"-adenylyltransferase [E...    6.258524   0.000000
1  K03042: DNA-directed RNA polymerase subunit A"...    0.000000   0.000000
2  K03050: DNA-directed RNA polymerase subunit E"...    0.000000   0.000000
3         K00001: alcohol dehydrogenase [EC:1.1.1.1]    0.000000   0.000000
4  K00002: alcohol dehydrogenase (NADP+) [EC:1.1....  259.944896  42.530545

       DC004       DC005       DC006       DC007       DC009       DC010  \
0   6.458457    0.000000    0.000000    0.000000    0.000000   35.329418
1   0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
2   0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
3  70.359563    8.575921    0.000000  129.545277    0.000000   37.827599
4  87.079133  137.533434  170.225459  435.637115  177.325296  705.814417

        DC011  ...       DP640       DP641       DP642       DP644  \
0    0.000000  ...    0.000000    0.000000    0.000000    0.000000
1    0.000000  ...    0.000000    0.000000    0.000000    0.000000
2    0.000000  ...    0.000000    0.000000    0.000000    0.000000
3   33.216424  ...   27.744242   28.868075    0.000000    0.000000
4  285.045831  ...  126.737257  182.412893  182.534436  165.734283

        DP646      SC0558      SC0637      SP1112     SP1113      SP1114
0    0.000000    0.000000    0.000000    0.000000   0.000000    0.000000
1    0.000000    0.000000    0.000000    0.000000   0.000000   42.437686
2    0.000000    0.000000    0.000000    0.000000   0.000000  129.384704
3    0.000000    0.000000    5.521018  110.047750  17.807847    8.943584
4  128.014473  423.280664  528.027436  456.272465   0.000000  955.918787

[5 rows x 725 columns]
Sheet name: humann_pathway_counts
                                             Pathway        DC001  \
0   1CMET2-PWY: folate transformations III (E. coli)  5982.356389
1  3-HYDROXYPHENYLACETATE-DEGRADATION-PWY: 4-hydr...     0.000000
2                                 7ALPHADEHYDROX-PWY   130.201807
3         AEROBACTINSYN-PWY: aerobactin biosynthesis     0.000000
4  ALLANTOINDEG-PWY: superpathway of allantoin de...     0.000000

         DC003        DC004        DC005        DC006        DC007  \
0  8176.186208  6366.790724  6630.371449  7180.081451  7163.182938
1     0.000000     0.000000     0.000000     0.000000     0.000000
2     0.000000    62.182899     0.000000     0.000000    38.008512
3     0.000000     0.000000     0.000000     0.000000     0.000000
4     0.000000    50.373714     0.000000     0.000000   244.499890

         DC009        DC010        DC011  ...        DP640        DP641  \
0  5036.056318  6961.473628  4661.661569  ...  8850.045866  9061.045337
1     0.000000     0.000000     0.000000  ...     0.000000     0.000000
2     0.000000    25.837484     0.000000  ...    47.667893     0.000000
3     0.000000    30.510785     0.000000  ...     0.000000     0.000000
4     0.000000    34.960709   104.069992  ...     0.000000     0.000000

          DP642        DP644        DP646        SC0558        SC0637  \
0  10543.631958  7119.849780  7943.401093  13947.649130  10554.549580
1      0.000000     0.000000     0.000000      0.000000      0.000000
2      0.000000     0.000000     0.000000      0.000000      8.879771
3      0.000000     0.000000     0.000000      0.000000    102.223409
4      0.000000    10.301446     0.000000   2043.704415    144.623973

         SP1112       SP1113        SP1114
0  12427.490888  9437.602474  11596.556203
1      0.000000     0.000000      0.000000
2      8.630776     0.000000      0.000000
3      0.000000     0.000000      0.000000
4    681.227708    22.880816     60.275827

[5 rows x 725 columns]
Sheet name: enterotypes
  Only samples that are Within_ET_space = TRUE were used for analysis.  \
0                                                NaN
1                                        sample_name
2                                              DC001
3                                              DC003
4                                              DC004

  Unnamed: 1       Unnamed: 2
0        NaN              NaN
1         ET  Within_ET_space
2       ET_B            False
3       ET_B             True
4       ET_F             True